{% extends 'polls/base.html' %}
{% block content %}
<h1>{{ title }}</h1>
<p class="lead">
    Herzlich Willkommen auf der Umfrageseite. Hier können Sie an Umfragen teilnehmen und Ihre Meinung abgeben.
</p>
<hr>
<h2>Aktuell laufende Umfragen</h2>
    {% if umfragen %}
        <ul>
            {% for umfrage in umfragen %}
                <li>
                   <a href="{% url 'polls:umfrage_deteil' umfrage.slug %}"> {{ umfrage.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
