{% extends 'polls/base.html' %}
{% block content %}

{% if object %}
    <h1> {{ object.name }} </h1>
    <h2>Antwortmöglichkeiten</h2>
    {% if object.choice_set.all %}
    <form action="{% url 'polls:vote' object.slug %}" method="post">
    {% csrf_token %}
    {% for choice in object.choice_set.all %}
        <input type="radio" name="choice" value="{{ choice.id }}" id="choice{{ forloop.counter }}"/>
       <label for="choice{{ forloop.counter }}">{{ choice.name }}</label>
    {% endfor %}
    <input type="submit" value="Antwort absenden" />
    </form>
    {% else %}
        <h3>Es gibt keine Antwortmöglichkeiten</h3>
    {% endif %}
{% else %}
    <h1>Es konnte keine umfrage ausgegeben werden</h1>
{% endif %}

{% endblock %}